
/* 1) по умолчанию все элементы имеют position static

 2.)relative при этом свойстве элемент получает возможность сдвигаться со своего места , 
 относительно своей текущей позиции так же все его потомки если их свойство position не static 
 не могут выйти за пределы его границ кроме fixed
 на его место не может ничего сместится и он собой ничего не двигает
 position: stаtic:

 сдвигать со своего места его можно свойствами top :left :right botton
 Они могут принимать такие значения % px
 */

.pos-relative{
    position: relative; /*не использовать только анимация*/
    top: 50px;
    left: 150px;
    background: red;
    width:400px ;
    height: 400px;
    z-index: 1; /* z-index св-во задающиее приоритет  над другими слоями может иметь значение от 0 до 9999 
    и -1 (-1 не применять)*/

}
/*
3. absolute- элемент теряет свое место где он находился. Начинают работать свойства top left right bottom и они его
позиционируют относительно родителя которому указано сво-во position relative/ absolute/fixed если ни у одного у родителей 
указано св-во position то позиционируется относительно html
Отталкивание или позиционирование относительно сторон родителя
*/


.pos-absolute{
    background: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 300px; /*Отталкивание или позиционирование относительно сторон родителя*/
    left: 400px;
    z-index: -1;
   
}
.pos-relative-child{   /* зеленый квадрат внутри красного за пределы не может уйти */
width: 40px;  
height: 40px;
background-color: green;

position: absolute;
top: 0;
left: 0;

}

/*
4)fixed элемент теряет свое место .Начинают работать сво-ва top/right/botton/left не зависимо от св-в родитлей
элемент начинает позиционироватся области видимости   закремпляется на экране в пределах области видимости

Отталкивание или позиционировани происходит относительно области видимости
*/
.pos-fixed{    /* создает св-во кнопки в правом нижнем углу  */
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(161, 34, 34);
    color: white;
    font-size: 20px;
    display: block;

    position: fixed;   /* создает св-во кнопки в правом нижнем углу  z-index самый большой приоритет 99999 */
    bottom: 30px;
    right: 30px;

}

/*
5. sticky -элемент при прокрутки страницы элемента родителя прилипает к указаной стороне и будет перемещаться 
пока высота этого элемента родителя не закончится.
ВАЖНО- ни у одного из родителей не должно быть св-во overflow: hidden;

overflow позволяет либо скрыть , то что выходит за приделы блока либо включить скролинг по оси X или Y
overflow  св-во hidden- скрывает все что за пределами текущего элемент
scroll- включает принудительно скролы по обеим осям
overflow-X: scroll -включает принудительно скрол по горизонтали
overflow-Y: scroll -включает принудительно скрол по вертикали
auto-включает скрол по необходиости, если контент не помещеться  (самый универсальный)
*/
.pos-sticky{    /* заголовок прилепляется к верху топ или к низу*/
    background: black;
    color: white;
    padding: 0px;

    position: sticky;
    top: 0;
}

.align-justify{
    text-align: justify;
    text-align-last: justify ;  
    text-indent: 30px;
    line-height: 2;   /* разрыв строки*/
    word-spacing: 10px;    /*расстояние между словами px/em /% о */
    letter-spacing:5px;   /* растояние между буквами в словах */
    
    
}





