.calendar{
    margin: 0px;
    padding: 1px;
    width: 400px;
    height: 40px;
    color: rgb(32, 32, 32);
    background-color: rgb(196, 196, 196);
    text-align: center;
    font-weight: 800;
    box-sizing: border-box;

    
}

.dayweek  {
margin: 0px;
padding: 0px;
width: 400px;
height: 37px;
font-size: 30px;
background-color: rgba(226, 227, 228, 0.774);
text-align: center;
box-sizing: border-box;

}

.weekend{
color: red;
}
.weekend1{
    color: red;
    }
    .greyend{
        color: rgb(153, 151, 151);
    }

    .grey{
        color: rgb(153, 151, 151)
    }
    .dayred{
        background-color: rgb(218, 31, 10);
        color: rgb(255, 25, 0);
    }

    .block{
       background-color: rgb(252, 250, 168);
        width: 400px;
        border: 2px solid hexrgb(124, 124, 124);
    }