
body
{
margin: 20px;
margin-right: 2px;
    padding: 10px;
    padding-left: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;   
    height: 50%;    /*высота окна-расположение элемента*/
    width: 50%;    /*ширина окна-расположение элемента*/
    box-sizing: border-box;
    }
    
.calendar{
    
    width: 300px;
    height: auto;
    background-color: rgba(225, 230, 224, 0.726);
    box-sizing: border-box;
}

/*размер блока календаря включая дни и недели*/
.calendar .date{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    
}

/* выранивание по середине всех значений даты, и дней*/
.calendar .date div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.numbergrey{
    color: gray;
}
.numberred{
    color: red;
    background-color: rgb(163, 165, 167);
    
}
.weekend{
    color: red;
    
}

.day{
    font-size: large;
    font-weight: 800;
}

.dayweek{
    color: rgb(255, 10, 1);
    font-size: large;
    font-weight: 800;

}

/*шапка заголовок*/
.h1
{
    margin: 0;
    padding: 20px;
 font-size: x-large;
 font-weight: 999;
 text-align: center;
 box-sizing: border-box;
 background-color: orange;
}