

 .clear{
     clear: both;
 }

 #calendar{
     background-color: rgb(172, 171, 171);
     width: 400px;
     color: indigo;
 }
 .calendar-head{
     text-align: center;
     padding: 25px 0;
     font-size: 40px;
 }
 .calendar-day{
     
     background-color: khaki;
     color: black;
.calendar-days

 }
 .week, .weekday, .calendar-days .day, .day-weekand, .day-curent  {
     float: left;
     text-align: center;
     font-size: 35px;
     width: 57px;
     height: 57px;
     line-height: 50px;

 }
 .calendar-days{
     background-color: rgb(217, 222, 224);
 }

 .day-weekand, .weekday, .day-curent{
     color: red;
 }
 .day-curent{
     background-color: rgb(175, 172, 172);
     
 }