.products td, .products th{
    
    height: 40px;
    vertical-align: top;}


    .products{
        border: 0px;  /* обнуление таблицы*/
    }
    .products{
        border: 2px solid black;
    }
   
    TD {
        text-align: center; /* Выравнивание по центру */
        padding: 0 0 0 3px; /* Поля вокруг текста */
       }
