

    .background{
        position: relative;
        background: linear-gradient(to top, rgb(141, 199, 233), rgb(71, 153, 230), rgb(14, 164, 233));
        height: 275px;
        width: 800px;
        left: 51px;
        
 
    }

.pos-relative {
    position: absolute;
    
    top: 230px;
    left: 60px;
    z-index: 3;
    }

       

.pos-relative-child{
    position: absolute;
    width: 160px;  
height: 160px;
top: 5px;
left: 65px;
}
.cloud{
    position: absolute;
    width: 390px;
    height: 191px;
    bottom: 200px;
    left: -25px;
    z-index: 10;
    
}

.hors{
    position: absolute;
    width: 160px;  
height: 160px;
top: 250px;
left: 65px;
z-index: 7;
}

.shadow {
    position: absolute;
    width: 160px;  
height: 160px;
top: 40px;
left: -245px;

    
}


.pastux{
    position: absolute;
    width: 180px;  
    height: 80px;
    top: 38px;
    left: 250px;
    z-index: 4;
}


